<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="command.mapper.CommonMapper">
 
 <delete id="deleteEachFile" parameterType="egovframework.example.cmmn.service.FileVO">
	 DELETE FROM 
	 lettnfiledetail
	 WHERE
	 ATCH_FILE_ID = #{atchFileId}
	 AND FILE_SN =  #{fileSn}
</delete>
</mapper>
